header {
    background-color: darkblue; color: antiquewhite;
}

main{
   
    text-align: justify;
  
}

.aside {
       padding: 1%;
    text-align: justify;
  
}

.footer {
        background-color: dodgerblue; color:black; font-weight: 100;
    position: sticky;
    bottom: 0;}


    .boton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: rgb(63, 63, 63);
    }
    .btncontacto {
        border: none;
        cursor: pointer;
        font-size: 2rem;
        padding: 1rem 2rem;
        margin: 1rem;
        color: white;
        background:linear-gradient(to right, rgb(12, 175, 91) 50%, rgb(212, 125, 18) 50%) no-repeat left / 200%;
        transition: background-position 0.3s ease;
    }
    .btncontacto:hover {
        background-position: right;
        color: black;
    }
 
    
